@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}
section {
  background-color: white;
}

.hero {
  background: url('./image/support.svg');
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  color: black;
  font-size: 40px;
}

footer {
  padding: 80px;
  background: black;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(50, 22, 147, 255);
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 25px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {

  margin: 0;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: black;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}
.hero-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}



.socials {
  padding-bottom: 200px;
}
.social {
  margin: 20px;
}
.sub-section {
  /* display: flex; */
    /* justify-content: space-around; */
    padding-bottom: 50px; 
}

.sub-section-alternative {

  margin-top: 100px;
}

.project-card {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
}

.project-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}


.project-image {
  margin-top: 25px;
  width: 250px;
}
.social-icon {
  display: flex;
  justify-content: space-around;
}
.icon {
  margin-left: 25px;
}


hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

.navbar-a{
  text-decoration: none;
  color: white;
}
.information {
  margin: 100px;
}
.underline {
  width: 240px;
  height: 5px;
  /* background:#ec615b; */
  border: 0;
  margin: 0;
}
.underline-project{
  width: 200px;
  height: 5px;
  /* background:#ec615b; */
  border: 0;
  margin: 0;
}
hr {
  background: #ec615b;
  height: 5px;
  border: none;
}
.background-text {
  font-size: 300px;
  position: relative;
  opacity: 0.07;
  right: 30px;
  letter-spacing: 0.08em;
}
.sub-section .show-p {
  position: absolute;
  top: 1175px;
}
.show-p {
  font-size: 30px;
}
.listItem {
  max-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.listContainer {
  flex-direction: row;
  padding-left: 50px;
}
.listTitle {
  font-size: 35px;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin-bottom: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-link{
  text-decoration: none;
  margin: 20px;

}
.card-img{
  image-rendering: auto;
  /* image-rendering: crisp-edges; */
  /* image-rendering: pixelated; */
  width: 100%
}
.card-div-link{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container {
  padding: 2px 16px;
}

#btn{
    /* display:block;
    background:  rgba(50, 22, 147, 255);
    cursor: pointer;
    color: white;
    padding:10px; */
}

.container-form {
  background-color: #ec615b;
  padding: 20px 40px;
  border-radius: 5px;
  /* max-width: 500px; */
  margin-top: 40px;
}

.container-form h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container-form a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 750px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 50%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

.footer-body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fae9fb;
}

.container-footer{
  max-width: 1050px;
  width: 100%;
  background: grey;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-footer .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.content .image-box{
  max-width: 55%;
}

.content .image-box img{
  max-width: 100%;
}

.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: black;
}

.content form{
  width: 40%;
  margin-right: 30px;
}

.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid{
  border-color:#ba24c2;
  background-color: #fff;
}

.content .input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  pointer-events: none;
  font-size: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: 0;
  left: 12px;
  color: #ba24c2;
  background: #fff;
  display: 14px;
}

.content .message-box{
  min-height: 100px;
  position: relative;
}

.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  outline: none;
  background: #fae9fb;
  border: 2px solid transparent;
}

.content .message-box textarea:focus{
  border-color: #ba24c2;
  background-color: #fff;
}

.content .message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events:none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus ~ label{
  left: 12px;
  color: #ba24c2;
  top: -10px;
  background: #fff;
  font-size: 14px;
}

.content .input-box input[type="submit"]{
  color: #fff;
  background: #ba24c2;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.content .input-box input[type="submit"]:hover{

}


@media (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}

@media (max-width: 900px) {

  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}
